<nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">
    <a class="navbar-brand" href="/"><i class="fa fa-futbol-o"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if nbar == 'referees' %} active {% endif %}">
                <a class="nav-link text-uppercase" href="/referees/page/1">Referees</a>
            </li>
            <li class="nav-item {% if nbar == 'clubs' %} active {% endif %}">
                <a class="nav-link text-uppercase" href="/clubs">Clubs</a>
            </li>
        </ul>
    </div>
</nav>