<mdb-card style="background-image: url('assets/images/geiger_landing_page.jpeg')">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Soccer Referee Database</strong></h2>
        <p class="mx-5 mb-5">A Referee Database for the Refined
        </p>
        <a mdbBtn color="white" outline="true" class="waves-light" routerLink="referees" mdbWavesEffect>
            <mdb-icon fas icon="clone" class="left"></mdb-icon>Referees
          </a>
          <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
            <mdb-icon fas icon="clone" class="left"></mdb-icon>Clubs
          </a>
      </div>
    </div>
</mdb-card>